---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export type Props = {
  to: string;
  title: string;
  imagePath: string;
  altText: string;
};
// Get component props
const { to, title, imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[imagePath])
  console.error(
    `"${imagePath}" does not exist in glob: "src/images/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<a
  href={to}
  class="hover:scale-95 border-solid border-2 border-slate-900 inline-block px-2 py-1 rounded-lg no-underline transition duration-200 ease-in-out"
>
  <div class="card__inner">
    {
      imagePath.startsWith("http") ? (
        <img src={imagePath} alt={altText} />
      ) : (
        <Image src={images[imagePath]()} alt={altText} width={400} />
      )
    }
    <div class="text-base text-center font-medium text-black leading-relaxed">
      {title}
      <span>&rarr;</span>
    </div>
  </div>
</a>
<style>
  .card__inner {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
</style>
